<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" protocolVersion="2" />
    <add key="opcua-preview" value="https://nuget.pkg.github.com/OPCFoundation/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="opcua-preview">
      <package pattern="OPCFoundation.NetStandard.Opc.Ua" />
      <package pattern="OPCFoundation.NetStandard.Opc.Ua.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>